<a href="https://colab.research.google.com/github/ScriptSherpa/python-and-ds/blob/main/day14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# sorting in list
list1=[2,3,45,63,12,34,56,78,90,76,1,23,43,12,15,67,89]
print(list1)
list1.sort() # sort the list in ascending order
print('after sort ;',list1)

[2, 3, 45, 63, 12, 34, 56, 78, 90, 76, 1, 23, 43, 12, 15, 67, 89]
after sort ; [1, 2, 3, 12, 12, 15, 23, 34, 43, 45, 56, 63, 67, 76, 78, 89, 90]

In [3]:
list1=[2,3,45,63,12,34,56,78,90,76,1,23,43,12,15,67,89]
list1.sort(reverse=True) # sort the list in descending order
print(list1)

[90, 89, 78, 76, 67, 63, 56, 45, 43, 34, 23, 15, 12, 12, 3, 2, 1]

In [6]:
# Tuple
#tuple is imutable in nature
#tuple is denoted by ()
#tuple can have dulicate values
# tuple have ordered collection of data

#creat a tuple
tuple1=(1,2,3,4,5,6,7,8,9,10)
print(tuple1)
tuple2=tuple((1,2,3,4,5,6,7,8,9,10))
print(tuple2)
print(type(tuple1))
print(type(tuple2))
tuple3=()
print(type(tuple3))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [7]:
# create a tuple having one element
t1=(10,)
print(t1)
print(type(t1))

(10,)
<class 'tuple'>

In [9]:
tuple1=(1,2,3,4,5,6,7,6,6,6,6,8,9,10)
print(tuple1)
print(len(tuple1))
print(tuple1.index(6))
print(tuple1.count(6))

(1, 2, 3, 4, 5, 6, 7, 6, 6, 6, 6, 8, 9, 10)
14
5
5

In [10]:
# set
#tuple is imutable in nature
#tuple is denoted by {}
#tuple cdoes not allow have dulicate values
# tuple have un-ordered collection of data

set1={1,2,3,4,5,6,7,8,9,9,90,76,54,32,112,2,2,3,4,5656,67}
print(set1)
print(type(set1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 67, 76, 5656, 90, 32, 112, 54}
<class 'set'>