<a href="https://colab.research.google.com/github/ScriptSherpa/python-and-ds/blob/main/day14(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# sorting in list
list1=[2,3,45,63,12,34,56,78,90,76,1,23,43,12,15,67,89]
print(list1)
list1.sort() # sort the list in ascending order
print('after sort ;',list1)

[2, 3, 45, 63, 12, 34, 56, 78, 90, 76, 1, 23, 43, 12, 15, 67, 89]
after sort ; [1, 2, 3, 12, 12, 15, 23, 34, 43, 45, 56, 63, 67, 76, 78, 89, 90]

In [ ]:
list1=[2,3,45,63,12,34,56,78,90,76,1,23,43,12,15,67,89]
list1.sort(reverse=True) # sort the list in descending order
print(list1)

[90, 89, 78, 76, 67, 63, 56, 45, 43, 34, 23, 15, 12, 12, 3, 2, 1]

In [ ]:
# Tuple
#tuple is imutable in nature
#tuple is denoted by ()
#tuple can have dulicate values
# tuple have ordered collection of data

#creat a tuple
tuple1=(1,2,3,4,5,6,7,8,9,10)
print(tuple1)
tuple2=tuple((1,2,3,4,5,6,7,8,9,10))
print(tuple2)
print(type(tuple1))
print(type(tuple2))
tuple3=()
print(type(tuple3))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# create a tuple having one element
t1=(10,)
print(t1)
print(type(t1))

(10,)
<class 'tuple'>

In [ ]:
tuple1=(1,2,3,4,5,6,7,6,6,6,6,8,9,10)
print(tuple1)
print(len(tuple1))
print(tuple1.index(6))
print(tuple1.count(6))

(1, 2, 3, 4, 5, 6, 7, 6, 6, 6, 6, 8, 9, 10)
14
5
5

In [ ]:
# set
#tuple is imutable in nature
#tuple is denoted by {}
#tuple cdoes not allow have dulicate values
# tuple have un-ordered collection of data

set1={1,2,3,4,5,6,7,8,9,9,90,76,54,32,112,2,2,3,4,5656,67}
print(set1)
print(type(set1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 67, 76, 5656, 90, 32, 112, 54}
<class 'set'>

In [1]:
set2 =set({10,3,45,67})
print(type(set2))
set3={}
print(type(set3))

<class 'set'>
<class 'dict'>

In [3]:
set1 = set({'jan','feb','march','april','may'})
print('original setm :',set1)

#add(-->) usd to add single item
set1.add('june')
print('after add :',set1)

#update ---> used to add more than one item
set1.update(['july','august','september'])
print('after update :',set1)
# discard()
set1.discard('march')
print('after discard :',set1)

#remove ---> used to remove single item
# give error if not existing elment is removed
set1.remove('april')
print('after remove :',set1)

original setm : {'feb', 'jan', 'march', 'april', 'may'}
after add : {'feb', 'jan', 'june', 'march', 'april', 'may'}
after update : {'september', 'feb', 'july', 'august', 'june', 'march', 'april', 'jan', 'may'}
after discard : {'september', 'feb', 'july', 'august', 'june', 'april', 'jan', 'may'}
after remove : {'september', 'feb', 'july', 'august', 'june', 'jan', 'may'}

In [4]:
!pip install ordered-set

Collecting ordered-set
  Downloading ordered_set-4.1.0-py3-none-any.whl.metadata (5.3 kB)
Downloading ordered_set-4.1.0-py3-none-any.whl (7.6 kB)
Installing collected packages: ordered-set
Successfully installed ordered-set-4.1.0

In [5]:
from ordered_set import OrderedSet
str1='abracadabra'
print(set(str1))
print(OrderedSet(str1))

{'d', 'b', 'r', 'c', 'a'}
OrderedSet(['a', 'b', 'r', 'c', 'd'])

In [7]:
# Dictionary
# dictionary is used to store the info in key-value pair  format
# dictionary is denotrd by {}
# gives key error if index  no is used are used
# dictionary is mutable in nature

gamer={'name':'nikhil','email':'h@gmail.com','age':45,'rank':3}
print(type(gamer))
print(gamer)
print(gamer['name'])
print(gamer['email'])
print(gamer['age'])
print(gamer['rank'])

print(gamer.get('name'))

<class 'dict'>
{'name': 'nikhil', 'email': 'h@gmail.com', 'age': 45, 'rank': 3}
nikhil
h@gmail.com
45
3
nikhil

In [11]:
# add a new key:value pair
gamer['country']='india'
print(gamer)

# update existing key:value pair
gamer['rank']=6

#pop() to delete key;value pair
gamer.pop('email')
print(gamer)

#popitem(---> last added key:value pair is removed )
gamer.popitem()
# key can be integer also 1:1,2:34,45:3

{'name': 'nikhil', 'email': 'h@gmail.com', 'rank': 6, 'country': 'india'}
{'name': 'nikhil', 'rank': 6, 'country': 'india'}

In [12]:
gamer={'name':'nikhil','email':'h@gmail.com','age':45,'rank':3}
print(type(gamer))

for k,v in gamer.items():
  print(k,v)

<class 'dict'>
name nikhil
email h@gmail.com
age 45
rank 3