<a href="https://colab.research.google.com/github/ScriptSherpa/python-and-ds/blob/main/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#in pyhton strings we can use ''' to declare string  preserve the text formatting
print('''
temperature :

kula lampur : 27 degree
new delhi : 16 degree
''')

temperature :

kula lampur : 27 degree
new delhi : 16 degree

In [7]:
# string concatentaion

fname="nikhil"
lname="malvi"
course="mern"

#welcome nikhil malvi in the wolr of mern

print("welcome " + fname)
print("welcome "+fname+" "+lname+" in the world of "+course)

welcome nikhil
welcome nikhil malvi in the world of mern

In [11]:
from typing import OrderedDict
#string formatting
#str.format()


#1. default Ordered

default_order="{} {} {} {}.".format('python','is','very','easy')
print(default_order)

python is very easy.

In [12]:
#2.positonal order

positional_order="{2} {0} {1} .".format('python','is','very',)
print(positional_order)

very python is .

In [13]:
#3, keyword_order

keyword_order="{a} {b} {c} {d}.".format(a='python',b='is',c='very',d='easy')
print(keyword_order)

python is very easy.

In [22]:
# type conversion
# type casting


# implicit type casting

int_value=10
float_value=67.78
res=int_value + float_value
print(res)

# pyhton always convert smaller data types to larger data type

#explicit type casting
int_value=123
str_value="456"
res=int_value + int(str_value)
print(res)

#taking user input
#input()-->help you to take user input

name = input("enter your name")
print("welcome "+ name)

77.78
579
enter your namenikhil
welcome nikhil

In [25]:
# type casting

num1= int(input("enter first number"))
num2= int(input("enter second number"))
res=num1+num2
print('result',res)

enter first number56
enter second number90
result 146