<a href="https://colab.research.google.com/github/ScriptSherpa/python-and-ds/blob/main/day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#operators


#assignment operator

# =

myNUM=89
print(myNUM)

x = 23
x+= 7 # x = x + 10
print(x)

89
30

In [3]:
 #python compariosn operators
 x=12
 y=23

 print(x==y)
 print(x!=y)
 print(x>y)
 print(x<y)
 print(x>=y)
 print(x<=y)

False
True
False
True
False
True

In [4]:
age =23
print(age>=18 and age<=65)
print(age<18 or age>65)
print('Eligibile For VOting',(age>=18))

True
False
Eligibile For VOting True

In [7]:
# logical operators

# AND

a= 100
b=235

print("a=100 and b=233",(a==100 and b==200 ))
# AND operator return TRUE when both  conditions satisfies else it returnnns false

a=100 and b=233 False

In [11]:
# Or
# will returnTrue if any of the condtion is true
#will return false when both the conditions are false

a=34
b=56
c=46
d=78

print((a==34 or b==89))
print((c==49 or d==79))

True
False

In [15]:
# NOT
# it is used to reverse the result
# if the output is true not will make it as false
# if the output is false not willmke it as true

a=12
b=13

print(not(a==12 and b==13))
print(not(a==15 and b==17))

False
True

In [20]:
# membership operators
# in not in

course ="data science with Pyhton"
print( course)
# in --> returns true if value present in sequece
print('d' in course)
print('Pyhton' in course)

data science with Pyhton
True
True