<a href="https://colab.research.google.com/github/ScriptSherpa/python-and-ds/blob/main/day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# loops n pyhton
# for loop

print("nikhil "*10)

nikhil nikhil nikhil nikhil nikhil nikhil nikhil nikhil nikhil nikhil

In [4]:
for char in "nikhil":
    print(char)

n
i
k
h
i
l

In [5]:
age  = 12,34,56,78,79,35
for what in age:
    print(what)

12
34
56
78
79
35

In [9]:
numbers = 12,45,67,89,86,42,16,79,

for x in numbers:
   if x%2==0:
       print(x)

12
86
42
16

In [10]:
price_list = 30,24,56,67,78,90
tax = 5
for price in price_list:
    print(price+tax)

35
29
61
72
83
95