<a href="https://colab.research.google.com/github/ScriptSherpa/python-and-ds/blob/main/day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# range() function
# range() function is used to generate a sequence of interger values

# 1. range(x)
# it is used to generate a sequence of integer values
# starting from zero till x-1

print(list(range(19)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [4]:
# 2. range(x,y)
# is used to generate a sequence of trigger values
# starting from x till y-1

print(list(range(5 ,15)))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [6]:
# 3. range(x,y,stepsize)
print(list(range(1,23,2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [7]:
for i in range(11):
    print(i,'nikhil')

0 nikhil
1 nikhil
2 nikhil
3 nikhil
4 nikhil
5 nikhil
6 nikhil
7 nikhil
8 nikhil
9 nikhil
10 nikhil

In [8]:

num=13
for i in range(1,11):
    print(num,'x',i,'=',num*i)

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130