<a href="https://colab.research.google.com/github/ScriptSherpa/python-and-ds/blob/main/iguru5_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pandas

# pandas is a fast, powerful, flexible and easy to use open source data analysis and
# manipulation tool, built on top of the Python programming language.

# Pandas is the backbone of most data science projects.

'''
Pandas is an open-source Python library providing high-performance,
easy-to-use data structures and data analysis tools for the Python
programming language. Python with Pandas is used in a wide range of
fields including academic and commercial domains including finance,
economics, Statistics, analytics, etc.

In 2008, developer Wes McKinney started developing pandas when in need
of high performance, flexible tool for analysis of data.

Prior to Pandas, Python was majorly used for data munging and preparation.
It had very little contribution towards data analysis.
Pandas solved this problem. Using Pandas, we can accomplish five typical
steps in the processing and analysis of data, regardless of the
origin of data â€” load, prepare, manipulate, model, and analyze.

Key Features of Pandas

a.) Tools for loading data into in-memory data objects from different file formats.

b.) Data alignment and integrated handling of missing data.

c.) Label-based slicing, indexing and subsetting of large data sets.

d.) Columns from a data structure can be deleted or inserted.

e.) Group by data for aggregation and transformations.

f.) High performance merging and joining of data.

g.) Time Series functionality.


Numpy vs Pandas

a.) The Pandas module mainly works with the tabular data, whereas the NumPy module works with
the numerical data.

b.) The Pandas provides some sets of powerful tools like DataFrame and Series that mainly used
for analyzing the data, whereas in NumPy module offers a powerful object called Array.

c.) The Pandas covered the broader application because it is mentioned in 73 company stacks and
46 developer stacks, whereas in NumPy, 62 company stacks and 32 developer stacks are being
mentioned.

d.) Pandas has a better performance for 500K rows or more.  NumPy has a better performance for
50K rows or less.

'''

# Pandas

# a.) Series  --> is a 1D labelled data

# b.) DataFrame --> represent the data in tabular format

In [1]:
import numpy as np
import pandas as pd
print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [2]:
arr = np.array([1,2,3,4,5])
print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [3]:
series = pd.Series(arr)
print(type(series))
print(series)

<class 'pandas.core.series.Series'>
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
emp_info = pd.Series([123,'jhon','it',45000])
print(emp_info)

0      123
1     jhon
2       it
3    45000
dtype: object

In [5]:
age = pd.Series([34,56,78],index=['age1','age2','age3'])
print(age)
print(age['age1'])
print(age['age2'])
print(age['age3'])
print(age.iloc[0])

age1    34
age2    56
age3    78
dtype: int64
34
56
78
34

In [12]:
s=pd.Series([10,20,30,40,50,60],index=['val1','val2','val3','val4','val5','val6'])
print(s)
print(s.iloc[2])
print(s['val1'])
print(s['val1':'val2'])

print("\nusing for loop")
for i in s:
  print(i)



print("\nPeforming Numercial Computation")
print(s*2)

val1    10
val2    20
val3    30
val4    40
val5    50
val6    60
dtype: int64
30
10
val1    10
val2    20
dtype: int64

using for loop
10
20
30
40
50
60

Peforming Numercial Computation
val1     20
val2     40
val3     60
val4     80
val5    100
val6    120
dtype: int64