<a href="https://colab.research.google.com/github/ScriptSherpa/python-and-ds/blob/main/iguru03(EDA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Exploratory Data Analysis [EDA]
# Exploratory Data Analysis refers to the critical process of
# performing initial investigations on data so as to discover patterns,
# to spot anomalies,to test hypothesis and to check assumptions
# with the help of summary statistics and graphical representations.

# It is a good practice to understand the data first and try to gather
# as many insights from it.

# Exploratory data analysis (EDA) is used by data scientists to analyze
# and investigate data sets and summarize their main characteristics,
# often employing data visualization methods.

# The main purpose of EDA is to help look at data before making any
# assumptions. It can help identify obvious errors, as well as better
# understand patterns within the data, detect outliers or
# anomalous events, find interesting relations among the variables.

# Dataset : https://raw.githubusercontent.com/yash240990/Python/master/telecom_churn.csv
#has context menu

In [6]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

In [7]:

# Import all necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [8]:
# Load the dataset

data = pd.read_csv('https://raw.githubusercontent.com/yash240990/Python/master/telecom_churn.csv')
data

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [ ]:
# To display all data
# pd.options.display.max_rows = None
# pd.options.display.max_columns = None


# head()
# it will display the first 5 records of dataset
data.head()

In [ ]:
# tail()
# it will display the last 5 records of dataset
data.tail()

In [9]:
 # columns--> retrieve all the colums names from dataset
data = pd.read_csv('https://raw.githubusercontent.com/yash240990/Python/master/telecom_churn.csv')
data
data.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [ ]:
# explore the no of rows and columns
print(data.shape)
print(data.shape[0])
print(data.shape[1])
print(data.index)

In [ ]:
# info()
data.info()

In [ ]:
# astype() convert bool to int
data['churn'] = data['churn'].astype('int64')
data.info()

In [ ]:
data['totalnightminutes'] = data['totalnightminutes '].astype('int64')
data.info()

In [ ]:
#describe
#shows the statistical summary of dataset
# by default it will show the summary of numerical features
data.describe()

# 25% MEANS 25% OF THE DATA THE VALUE 143 OR BELOW
# 50% MEANS 50% OF THE DATA THE VALUE 179 OR BELOW
# 75% MEANS 75% OF THE DATA THE VALUE 216 OR BELOW

In [ ]:
# IN ORDER TO SHOW THE STATISTICAL SUMMARY OF NON NUMERICAL FEATURES
# WE NEED TO USE INCLUDE PARAMETER

data.describe(include=['object','bool'])

In [ ]:
#value_counts()
# returns a count of unique values
data['international plan'].value_counts()

In [ ]:
# generate the graph
sns.countplot(data['international plan'])
plt.title('International Plan')
plt.show()

In [ ]:
# missing value calculatioan
# isnull is used to find null values in the dataset

data.isnull()
data.duplicated().sum()

In [ ]:
data.isnull().sum()

In [ ]:
# selecting a data frame
data

In [ ]:
# top 50 numbers from columnn

data['phone number'].head(50)

In [ ]:
data.state.head(80)

In [ ]:
# Assuming your dataframe is named 'data'
data['churn'] = data['churn'].astype(int)
data[['phone number','total day calls','churn']].head(60)

In [ ]:
# sort_values()
# by default the data will be sorted in ascending order
data.sort_values(by='total day calls',ascending=False).head(50)

In [ ]:
data['churn'].value_counts()

In [ ]:
sns.countplot(x='churn',data=data)
plt.title('active vs Churn users')
plt.show()

In [ ]:
sns.countplot(x='churn',data=data)
plt.title('active vs Churn users')
plt.show()

In [ ]:
sns.countplot(x='churn', data=data, palette={0: 'blue', 1: 'orange'})
plt.title('Active vs Churn Users')
plt.show()

In [ ]:
sns.countplot(x='churn', hue='churn', data=data, dodge=False, palette={0: 'blue', 1: 'orange'})
plt.title('Active vs Churn Users')
plt.show()

In [ ]:
# how muchon an average active user spend on phone during a day
data[data['churn']==0]

In [ ]:
data[data['churn']==0]['total day charge'].mean()

data[data['churn']==1]['total day minutes'].mean()

In [ ]:

data[data['churn']==0]['total night minutes'].mean()

In [ ]:

data[data['churn']==1]['total day minutes'].mean()

In [10]:
data[data['churn']==0].mean(numeric_only = True)

account length            100.793684
area code                 437.074737
number vmail messages       8.604561
total day minutes         175.175754
total day calls           100.283158
total day charge           29.780421
total eve minutes         199.043298
total eve calls           100.038596
total eve charge           16.918909
total night minutes       200.133193
total night calls         100.058246
total night charge          9.006074
total intl minutes         10.158877
total intl calls            4.532982
total intl charge           2.743404
customer service calls      1.449825
churn                       0.000000
dtype: float64

In [11]:
# Grouping
columns_to_show=['total day minutes','total eve minutes','total night minutes']
data.groupby(['churn'])[columns_to_show].agg([np.mean,np.max,np.min])

      total day minutes             total eve minutes               \
                   mean    max  min              mean    max   min
churn
False        175.175754  315.6  0.0        199.043298  361.8   0.0
True         206.914079  350.8  0.0        212.410145  363.7  70.9

      total night minutes
                     mean    max   min
churn
False          200.133193  395.0  23.2
True           205.231677  354.9  47.4

In [12]:

data.columns
# apply() --> we can apply functions on our dataset
data.apply(np.max)

state                           WY
account length                 243
area code                      510
phone number              422-9964
international plan             yes
voice mail plan                yes
number vmail messages           51
total day minutes            350.8
total day calls                165
total day charge             59.64
total eve minutes            363.7
total eve calls                170
total eve charge             30.91
total night minutes          395.0
total night calls              175
total night charge           17.77
total intl minutes            20.0
total intl calls                20
total intl charge              5.4
customer service calls           9
churn                         True
dtype: object

In [13]:
# https://www.w3schools.com/python/python_lambda.asp
# Print only those records where state starts with w
data[data['state'].apply(lambda state:state[0]=='W')]

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False
26,WY,57,408,357-3817,no,yes,39,213.0,115,36.21,...,112,16.24,182.7,115,8.22,9.5,3,2.57,0,False
44,WI,64,510,352-1237,no,no,0,154.0,67,26.18,...,118,19.19,265.3,86,11.94,3.5,3,0.95,1,False
49,WY,97,415,405-7146,no,yes,24,133.2,135,22.64,...,58,18.46,70.6,79,3.18,11.0,3,2.97,1,False
54,WY,87,415,353-3759,no,no,0,151.0,83,25.67,...,116,18.67,203.9,127,9.18,9.7,3,2.62,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,WI,87,415,331-4184,no,no,0,238.0,97,40.46,...,97,13.98,282.5,132,12.71,10.6,6,2.86,2,False
3303,WI,114,415,373-7308,no,yes,26,137.1,88,23.31,...,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
3319,WY,89,415,378-6924,no,no,0,115.4,99,19.62,...,115,17.84,280.9,112,12.64,15.9,6,4.29,3,False
3324,WV,159,415,377-1164,no,no,0,169.8,114,28.87,...,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False